.home{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
